<nav>
    <div class="site-title">
        <a href="/"><h1>Personal Diary</h1></a>
        <p>Store your memories</p>
    </div>
    <ul>
        <li><a href="/">Memories</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/memories/create">New Memories</a></li>
    </ul>
</nav>